@tailwind base;
@tailwind components;


@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Karla:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

main {
  font-family: "Poppins", sans-serif;
}

.handwriting {
    font-family: 'Gloria Hallelujah', cursive;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(90deg, #000000 21px,transparent 1%) 50%,linear-gradient(#000000 21px,transparent 1%) 50%, #333;
    background-size: 22px 22px;
    overflow-x: hidden;
}

.windui-window-header {
    height: 1.6rem !important;
}

.z-1 {
  z-index: 1;
}
.z-50 {
  z-index: 50;
}
.z-60 {
  z-index: 60;
}
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
  margin-right: 5px !important;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--500);
  border-radius: 0.375rem;
}

.dropdown::-webkit-scrollbar {
  width: 5px;
}
.dropdown::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
  margin-right: 5px !important;
}

.dropdown::-webkit-scrollbar-thumb {
  background: var(--500);
  border-radius: 0.375rem;
}

.keyboard-key.light {
  margin: 0 1px;
  font-size: 10px;
  color: #969faf;
  background: #e6e9ed;
  font-weight: bold;
  padding: 1px 3px 2px;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 3px #fff,
    0 1px 2px 1px rgba(30, 35, 90, 0.4);
}

.keyboard-key.dark {
  margin: 0 1px;
  font-size: 10px;
  color: #d4d4d8;
  background: #27272a;
  font-weight: bold;
  padding: 1px 3px 2px;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #3f3f46, inset 0 0 1px 3px #18181b,
    0 1px 2px 1px rgba(30, 35, 90, 0.4);
}

.discord-bot {
  background: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
  color: #fff;
  font-size: 0.625rem;
  text-transform: uppercase;
  vertical-align: top;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-indent: 0;
  position: relative;
  font-weight: 500;
  height: 0.9375rem;
  padding: 0 0.275rem;
  border-radius: 0.1875rem;
  margin-left: 0.25rem;
}
.separator {
  position: absolute;
  opacity: 0;
  width: 0;
  display: inline-block;
  font-style: normal;
}
.timestamp {
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: #72767d;
  vertical-align: baseline;
  margin-left: 0.25rem;
}

.markdown-body::after {
  clear: both
}
.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  word-wrap: break-word
}

.markdown-body .pl-c {
  color: #6a737d
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
  color: #005cc5
}

.markdown-body .pl-e,
.markdown-body .pl-en {
  color: #6f42c1
}

.markdown-body .pl-s .pl-s1,
.markdown-body .pl-smi {
  color: #24292e
}

.markdown-body .pl-ent {
  color: #22863a
}

.markdown-body .pl-k {
  color: #d73a49
}

.markdown-body .pl-pds{
  color: #fff
}
.markdown-body .pl-s{
  color: #fff
}
.markdown-body .pl-s .pl-pse .pl-s1{
  color: #fff
}
.markdown-body .pl-sr{
  color: #fff
}
.markdown-body .pl-sr .pl-cce{
  color: #fff
}
.markdown-body .pl-sr .pl-sra{
  color: #fff
}
.markdown-body .pl-sr .pl-sre {
  color: #0967d3
}

.markdown-body .pl-smw{
  color: #fff
}
.markdown-body .pl-v {
  color: #e36209
}

.markdown-body .pl-bu {
  color: #b31d28
}

.markdown-body .pl-ii {
  color: #fff;
  background-color: #b31d28
}

.markdown-body .pl-c2 {
  color: #fff;
  background-color: #d73a49
}

.markdown-body .pl-c2::before {
  content: "^M"
}

.markdown-body .pl-sr .pl-cce {
  font-weight: 700;
  color: #22863a
}

.markdown-body .pl-ml {
  color: #735c0f
}

.markdown-body .pl-mh{
  color: #fff
}
.markdown-body .pl-mh .pl-en{
  color: #fff
}
.markdown-body .pl-ms {
  font-weight: 700;
  color: #005cc5
}

.markdown-body .pl-mi {
  font-style: italic;
  color: #24292e
}

.markdown-body .pl-mb {
  font-weight: 700;
  color: #dddddd
}

.markdown-body .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
  color: #fff;
}

.markdown-body .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
  color: #fff;
}

.markdown-body .pl-mc {
  color: #e36209;
  background-color: #ffebda;
  color: #fff;
}

.markdown-body .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5
}

.markdown-body .pl-mdr {
  font-weight: 700;
  color: #6f42c1
}

.markdown-body .pl-ba {
  color: #a1a2a3
}

.markdown-body .pl-sg {
  color: #c2c4c5
}

.markdown-body .pl-corl {
  text-decoration: underline;
  color: #044a9b
}

.markdown-body .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom
}

.markdown-body::after{
  color: #fff
}
.markdown-body::before {
  display: table;
  content: ""
}

.markdown-body a {
  background-color: transparent;
  color: #0366d6;
  text-decoration: none;
  font-size: 20px;
}

.markdown-body a:active{
  color: #fff
}
.markdown-body a:hover {
  outline-width: 0
}

.markdown-body h1 {
  margin: .67em 0
}

.markdown-body img {
  border-style: none
}


.markdown-body input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
}

.markdown-body dl dt{
  color: #fff
}
.markdown-body strong{
  color: #fff
}
.markdown-body table th {
  font-weight: 600
}

.markdown-body code,
.markdown-body pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace
}

.markdown-body [type=checkbox] {
  box-sizing: border-box;
  padding: 0
}

.markdown-body * {
  box-sizing: border-box
}

.markdown-body a:hover {
  text-decoration: underline
}

.markdown-body td{
  color: #000
}
.markdown-body th {
  padding: 0
}

.markdown-body blockquote {
  margin: 0
}

.markdown-body ol ol{
  color: #fff
}
.markdown-body ul ol {
  list-style-type: lower-roman
}

.markdown-body ol ol ol{
  color: #fff
}
.markdown-body ol ul ol{
  color: #fff
}
.markdown-body ul ol ol{
  color: #fff
}
.markdown-body ul ul ol {
  list-style-type: lower-alpha
}

.markdown-body dd {
  margin-left: 0
}

.markdown-body .pl-0 {
  padding-left: 0!important
}

.markdown-body .pl-1 {
  padding-left: 4px!important
}

.markdown-body .pl-2 {
  padding-left: 8px!important
}

.markdown-body .pl-3 {
  padding-left: 16px!important
}

.markdown-body .pl-4 {
  padding-left: 24px!important
}

.markdown-body .pl-5 {
  padding-left: 32px!important
}

.markdown-body .pl-6 {
  padding-left: 40px!important
}

.markdown-body>:first-child {
  margin-top: 0!important
}

.markdown-body>:last-child {
  margin-bottom: 0!important
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none
}

.markdown-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
}

.markdown-body .anchor:focus {
  outline: 0
}

.markdown-body blockquote{
  color: #fff
}
.markdown-body dl{
  color: #fff
}
.markdown-body ol{
  color: #fff
}
.markdown-body p{
  color: #fff
}
.markdown-body pre{
  color: #000
}
.markdown-body table{
  color: #000
}
.markdown-body ul {
  margin-top: 0;
  margin-bottom: 16px
}

.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5
}

.markdown-body h1,
.markdown-body h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
  color: #fff;
}

.markdown-body blockquote>:first-child {
  margin-top: 0
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0
}

.markdown-body h1{
  color: #fff
}
.markdown-body h2{
  color: #fff
}
.markdown-body h3{
  color: #fff
}
.markdown-body h4{
  color: #fff
}
.markdown-body h5{
  color: #fff
}
.markdown-body h6 {
color: fff;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

.markdown-body h1 .octicon-link{
  color: #fff
}
.markdown-body h2 .octicon-link{
  color: #fff
}
.markdown-body h3 .octicon-link{
  color: #fff
}
.markdown-body h4 .octicon-link{
  color: #fff
}
.markdown-body h5 .octicon-link{
  color: #fff
}
.markdown-body h6 .octicon-link {
  color: #fff;
  vertical-align: middle;
  visibility: hidden
}

.markdown-body h1:hover .anchor{
  color: #fff
}
.markdown-body h2:hover .anchor{
  color: #fff
}
.markdown-body h3:hover .anchor{
  color: #fff
}
.markdown-body h4:hover .anchor{
  color: #fff
}
.markdown-body h5:hover .anchor{
  color: #fff
}
.markdown-body h6:hover .anchor {
color :#fff;
text-decoration: none
}

.markdown-body h1:hover .anchor .octicon-link{
  color: #fff
}
.markdown-body h2:hover .anchor .octicon-link{
  color: #fff
}
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible
}

.markdown-body h1 {
  font-size: 2em
}

.markdown-body h2 {
  font-size: 1.5em
}

.markdown-body h3 {
  font-size: 1.25em
}

.markdown-body h4 {
  font-size: 1em
}

.markdown-body h5 {
  font-size: .875em
}

.markdown-body h6 {
  font-size: .85em;
}

.markdown-body ol,
.markdown-body ul {
  padding-left: 2em
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
  margin-top: 0;
  margin-bottom: 0
}

.markdown-body li {
  word-wrap: break-all
}

.markdown-body li>p {
  margin-top: 16px
}

.markdown-body li+li {
  margin-top: .25em
}

.markdown-body dl {
  padding: 0
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: auto;
  overflow: auto
}

.markdown-body table td,
.markdown-body table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa
}

.markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
}

.markdown-body img[align=right] {
  padding-left: 20px
}

.markdown-body img[align=left] {
  padding-right: 20px
}

.markdown-body code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: #0f0f13b0;
  border-radius: 3px;
  color: #fff;
}

.markdown-body pre {
  word-wrap: normal
}

.markdown-body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: 0 0;
  border: 0
}

.markdown-body .highlight {
  margin-bottom: 16px
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  background-color: #f6f8fa;
  border-radius: 3px;
  color: #000;
}

.markdown-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  color: #000;
}

.markdown-body .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1
}

.markdown-body :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6
}

.markdown-body .task-list-item {
  list-style-type: none
}

.markdown-body .task-list-item+.task-list-item {
  margin-top: 3px
}

.markdown-body .task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle
}


.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 15px 7px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: white;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 15px 7px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: white;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top
}

table {
  margin-right: 0 !important;
  width: 20%;
  margin: 30px;
  margin-top: 0;
  color: #000;
}

iframe {
  height: 1000px;
  width: 100%;
  border: 0;
}


.embed {
  border-left: 4px solid
    hsl(27, calc(var(--saturation-factor, 1) * 81.8%), 54.7%);
  background: #2f3136;
  position: relative;
  display: grid;
  max-width: 520px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.embed-grid {
  overflow: hidden;
  padding: 0.5rem 1rem 1rem 0.75rem;
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.embed-fields {
  display: grid;
  grid-column: 1/1;
  margin-top: 8px;
  grid-gap: 8px;
}
.embed-field13 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  min-width: 0;
  grid-column: 1 / 13;
}
.embed-title {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 8px;
  display: inline-block;
  grid-column: 1/1;
}
.embed-bold {
  font-size: 0.875rem;
  line-height: 1.125rem;
  min-width: 0;
}
.embed-text {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #dcddde;
  white-space: pre-line;
  min-width: 0;
  unicode-bidi: plaintext;
  text-align: left;
}
code.embed-code {
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-indent: 0;
  white-space: pre-wrap;
  scrollbar-width: thin;
  scrollbar-color: #202225 #2f3136;
  background: #2f3136;
  border: 1px solid #202225;
  border: none;
  background: #202225;
  scrollbar-color: #2f3136 #202225;
}
.mention {
  border-radius: 3px;
  padding: 0 2px;
  font-weight: 500;
  unicode-bidi: -moz-plaintext;
  unicode-bidi: plaintext;
  position: relative;
  color: hsl(236, calc(var(--saturation-factor, 1) * 83.3%), 92.9%);
  background: hsla(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%, 0.3);
}
.mention:hover {
  color: #fff;
  background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
}
.embed-inline {
  width: auto;
  height: auto;
  padding: 0.2em;
  margin: -0.2em 0;
  border-radius: 3px;
  font-size: 85%;
  font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console,
    Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
  text-indent: 0;
  border: none;
  white-space: pre-wrap;
}
.embed-timestamp {
  background-color: hsla(0, 0%, 100%, 0.06);
  border-radius: 3px;
  padding: 0 2px;
}
.embed-description {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  white-space: pre-line;
  grid-column: 1/1;
}
.embed-button {
  color: #fff;
  margin: 4px 8px 4px 0;
  width: 60px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  background-color: #4f545c;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  -webkit-transition: background-color 0.17s ease, color 0.17s ease;
  transition: background-color 0.17s ease, color 0.17s ease;
  transition-property: background-color, color;
  transition-duration: 0.17s, 0.17s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}
.embed-button:hover {
  background-color: #5d6269;
}
.embed-buttonContent {
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.embed-buttonItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  min-width: 32px;
}
.embed-buttonEmoji {
  -o-object-fit: contain;
  object-fit: contain;
  width: 1.375em;
  height: 1.375em;
  vertical-align: bottom;
  margin-right: 4px;
}
.embed-buttonLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.embed-launchIcon {
  margin-left: 8px;
}

.arrow {
  height: 20px;
  width: 20px;
  background-color: #131316;
  transform: rotate(45deg);
  position: absolute;
  left: -5px;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  margin: -25px 0 0 -25px;
  width: 40px;
  height: 40px;
}
.spinner .path {
  stroke: #ffffff69;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes modalFadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes modalFadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.modal-fade-in { animation: modalFadeIn 0.3s ease-out; }
.modal-fade-out { animation: modalFadeOut 0.3s ease-out; }

@keyframes boostWarning {
  0% {
      color: #f87171;
  }
  50% {
    color: #dc2626;
  }
  100% {
      color: #f87171;
  }
}

.boost-warning {
  animation: boostWarning 1.6s infinite linear;
}

.giveaway-box {
 /** background: linear-gradient(to bottom, rgba(0, 0, 0, .75), #151515, #151515), var(--banner);*/
  background: linear-gradient(90deg, rgba(0, 0, 0, .75) 21px,transparent 1%) 50%,linear-gradient(#151515 21px,transparent 1%) 50%, #333;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: .5s all;
}

::-webkit-scrollbar-track
{
	background-color: rgba(0, 0, 0, .25);
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-thumb
{
	background-color: var(--600);
}

.partner-container {
  background-size: cover;
  background: linear-gradient(90deg, rgba(0, 0, 0, .75) 21px,transparent 1%) 50%,linear-gradient(#151515 21px,transparent 1%) 50%, #333;
}

.dropdown-container {
  background: linear-gradient(to top, var(--800-10) 50%, transparent), #000000;
}

.perspective-left {
  -webkit-perspective: 484px;
  perspective: 484px;
  transform: scale(1) perspective(1000px) rotateX(23deg) rotateY(23deg) rotate(-9.8deg) translateX(0);
}
.perspective-right {
  -webkit-perspective: 484px;
  perspective: 484px;
  -webkit-transform: scale(1) perspective(1000px) rotateX(23deg) rotateY(-23deg) rotate(15deg) translateX(55px);
  transform: scale(1) perspective(1000px) rotateX(23deg) rotateY(-23deg) rotate(15deg) translateX(55px);
}

.undrag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cookieContainer {
  border-radius: 4px;
  background-color: #212121; 
  border-radius: 0.5rem; 
  position: fixed;
  height: 11.4em;
  width: 24em;
  right: 8px;
  padding: 19px 30px;
  margin-bottom: 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.cookieHeader {
  color: white;
  font-family: "m-normal";
  letter-spacing: 0.08em;
  font-size: 1.2em;
}

.cookieBtn {
  letter-spacing: 0.08em;
  padding: 5px 26px;
  background-color: rgba(56, 78, 224, 1);
  font-size: 0.9em;
  margin-top: 10px;
}

.cookieP {
  font-size: 0.9em;
  color: rgba(189, 189, 189, 1);
  font-weight: 400;
}

a.cookiePP {
  color: rgb(75 98 255);
}

a.cookiePP:hover {
  color: rgb(75 98 255);
}
